@charset "utf-8";

html{
	font-family: "Arial";
	font-size: 16px;
}

@keyframes bio{
	0%{opacity:0;}
	100%{opacity: 100%;}
}

 @keyframes musica {
 	0% { transform: translateX(1000px);}
 	100%{ transform: translateX(0px);}
   }

#Home ul li a {
	color: black;
}
#Pelis {
	background-image: url(img/fondo.jpg);
	background-repeat: no-repeat;

}
#Pelis ul li a {
	color: black;
}
#Terror {
	background-image: url(img/fondo2.jpg);
	background-repeat: no-repeat;
	color: white;
}
#Terror ul li a {
	color: white;
}
#Desierto {
	background-image: url(img/fondo3.jpg);
	background-repeat: no-repeat;
}
#Desierto ul li a {
	color: black;
}
#cabecera {
	text-align: center;
}
#botonera {
	width: 80%;
	text-align: center;
	margin-bottom: 5%;
}
#botonera ul {
	list-style-type: none;
}
#botonera ul li {
	float: right;
	margin-left: 9%;
}
#botonera ul li a {
	text-decoration: none;
}
#cuerpo {
	margin: 5%;
	padding-left: 10%;
	width: 80%;
	text-align: center;
}
#contenedor {
	background-color: white;
	max-width: 1000px;
	margin: auto;
	padding: 1px;
}
.noticias{
	margin-top: 3%;
}

#noticia1{
	width: 100%;
	animation: bio 1s linear 1;
}
#noticia2{
	width: 100%;
	animation: bio 1s linear 1;
}

#noticia3{
	padding-bottom: 5%;
	animation: bio 1s linear 1;
}
.noticias img{
	float: left;
	width: 22%;
	margin-left: 10%;
	margin-right: 2%; 
}
h3{	
	width: 90%;	 
}
.noticias p{
	width: 100%;	
}
.peliculas{
	margin-left: 9%;
	float: left;
	width: 22%;
	height: 300px;
	max-height: 300px;
	padding-right: 30px;
	/*border: 1px red solid;*/
}
.Filmografia{
	text-align: center;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.img-pelis{
	margin: auto;
	text-align: center;
}
.img-pelis img{
	width: 80%;
	margin-top:5%; 
}
.img-pelis img:hover{
	transform: scale(1.5,1.5);
	transition-duration: 1s;
}
#videos{
	padding: 2%;
	float: left;
	margin-left: 8%;
	animation: musica 1s linear 1;
}
#videos a{
	color: black;
}
.perfil img{
	animation: bio 1s linear 1;
	width: 30%;
	float: left;
	padding-right: 2%;
}
.perfil2 img{
	animation: bio 1s linear 1;
	width: 30%;
	float: right;
}
h2{
	text-align: center;
}
.biografia{
	animation: bio 1s linear 1;
	text-align: left;
	margin-left: 5%;
}

@media(min-width: 1201px) {

}


@media screen and (min-width: 991px) and (max-width: 1200px) {
		
}


@media (min-width: 600px) and (max-width: 990px) {

	#Home,#Pelis,#Terror,#Desierto {width: 100%;}
}

@media (min-width: 0px) and (max-width: 599px) {

	#Home,#Pelis,#Terror,#Desierto {width: 100%}
}


