@charset "utf-8";

html{
	font-family: "Arial";
	font-size: 15px;
}

@keyframes bio{
	0%{opacity:0;}
	100%{opacity:1;}
}

 @keyframes musica {
 	0% { transform: translateX(1000px);}
 	100%{ transform: translateX(0px);}
   }

#Home ul li a {
	color: black;
}
#Pelis {
	background-image: url(img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
#Pelis ul li a {
	color: black;
}
#Terror {
	background-image: url(img/fondo2.jpg);
	background-repeat: no-repeat;
	color: white;
	background-size: cover;
}
#Terror ul li a {
	color: white;
}
#Desierto {
	background-image: url(img/fondo3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
#Desierto ul li a {
	color: white;
}
#mail {
	margin-left: 15px;
}
#Comentario {
	margin-right: 25px;
}

#cabecera {
	text-align: center;
}
#botonera {
	width: 80%;
	text-align: center;
	margin-bottom: 5%;
}
#botonera ul {
	list-style-type: none;
}
#botonera ul li {
	float: right;
	margin-left: 9%;
}
#botonera ul li a {
	text-decoration: none;
}
#cuerpo {
	margin: 5%;
	padding-left: 10%;
	width: 80%;
	text-align: center;
}
.noticias{
	padding: 3% 6%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	clear: both;
}
.noticias .img-noticia{
	float: left;
	width: 18%;
}
.noticias .contenido{
	width: 70%;
	float: left;
}
.noticias img{
	margin-left: 40%;
	margin-right: 8%;
	padding-bottom: 3%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.noticias h3{	
	margin-left: 12%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.noticias p{
	margin-left: 12%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.noticia2{
	opacity: 0;
	transform: translateX(-10px);
	animation: bio 1s linear 1s 1 forwards;
	margin-bottom: 100px;
}

.peliculas{
	margin-top: 3%;
	margin-left: 9%;
	float: left;
	width: 22%;
	height: 300px;
	max-height: 300px;
	padding-right: 30px;
	/*border: 1px red solid;*/
}
/*.Filmografia{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}*/
.peli {
	width: 117%;
}
.peli2{
	margin-left: 35px;
	width: 60%;
}
.peli3{
	width:40%;
	margin-left: 50px;
}
.img-pelis{
	margin: auto;
	text-align: center;
}
.img-pelis img{
	width: 80%;
	height: 230px;
}
.img-pelis img:hover{
	transform: scale(1.5,1.5);
	transition-duration: 1s;
}
#videos{
	float: left;
	margin-top: 40%;
}
#videos a{
	color: black;
}
#contacto img{
	width: 20%;
	float:left;
}
.perfil img{
	animation: bio 1s linear 1;
	width: 30%;
	float: left;
	padding-right: 2%;
}
.perfil2 img{
	animation: bio 1s linear 1;
	width: 30%;
	float: right;
}
h2{
	text-align: center;
}
.biografia{
	animation: bio 1s linear 1;
	text-align: left;
	margin-left: 5%;
}

@media(min-width: 1201px) {
	.noticias{
			padding: 3% 6%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
		}

}

@media screen and (min-width: 991px) and (max-width: 1200px) {
	/*#Home {
		background-color: red;
	}*/
	.noticias{
		padding: 3% 6%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	
	}
	.noticia2{
		margin-bottom: 100px;

	}
	.noticias img{
		margin-left: 80%;
		margin-right: 8%;
		padding-bottom: 3%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.noticias h3{	
		margin-left: 22%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.noticias p{
		margin-left: 22%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.peliculas{
			width: 24%;
	}

}


@media (min-width: 600px) and (max-width: 990px) {
	/*#Home {
		background-color: green;
	}*/
	.noticias{
		padding: 3% 6%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.noticia2{
		margin-bottom: 100px;
	}
	.noticias .img-noticia{
		width: 60%;
		float: left;
	}

	.noticias .contenido{
		width: 90%;
		float: left;
	}
	.noticias img{
		margin-left: 35%;
		padding-bottom: 3%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.noticias h3{	
		margin-left: 15%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.noticias p{
		margin-left: 15%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#Desierto{
		flex-wrap: wrap;
		}
	.peliculas{
		width: 35%;
	}
}

@media (min-width: 0px) and (max-width: 599px) {
	/*#Home {
		background-color: blue;
	}*/
	.noticias{
	padding: 3% 6%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
	.noticia2{
	margin-bottom: 100px;
	}
	.noticias .img-noticia{
		width: 70%;
		float: left;
	}
	.noticias .contenido{
		width: 100%;
		float: left;
	}
	.noticias img{
		margin-left: 26%;
		padding-bottom: 3%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.noticias h3{	
		margin-left: 20%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.noticias p{
		margin-left: 20%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#Desierto{
		flex-wrap: wrap;
	}
	#Nombre{
		margin-right: 5px;
	}
	#mail{
		margin-right: 20px;
	}
	.peliculas{
		width: 60%;
	}
	
}


